:root{  /* root is introduced to work with variables */
  /* list of colors that we used */
  --primary: #E8A87C;
  --dark: #161616;
  --white: #FFFFFF;
  --ternary: #F0AAB1;
  --light: #fff;
  --grey: #555;
  --red: #E27D60;
  --green: #28c38e;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.title span, .navbar-brand span{
  color: #33FFA7;
}

/* Change Brand Font */
.navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
  color: var(--light);
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: var(--dark);
}

/* Make Header Image Responsive */
.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 95vh;
  border-radius: 0px;
  margin-top: 74px;
}

/* Header Image Sub-Title */
.font-italic {
  font-size: 24px;
}

a {
  color: var(--dark);
}

.active {
  color: var(--white);
  background-color: var(--green);
}

a:hover {
  color: var(--grey);
}

/* Change Footer Icon Link Color */
.fi-color {
  color: var(--green);
}

.fi-color:hover {
  color: var(--grey);
}

/* Setting Margin for Welcome to OSMS */
.mainHeading {
  margin-top: 50px;
  padding: 20px;
  border: 3px solid var(--green);
  border-width: 1px 20px;
  border: fixed;
  height: 100%;
  /*text-align: center; */
}

/* Setting Margin and Alignment for Welcome to OSM Mobile View */
@media only screen and (max-width: 600px) {
  .myclass {
    margin-top: 350px;
    text-align: center;
  }
}

/* start of css for changing the mode of a webpage */
.mode{
  margin-left: 450px;
  width: 40px;
  border-radius: 50%;
}

.change-mode{
  background-color: var(--dark);
  color: var(--white);
}
/* end of css for changing the mode of a webpage */

/* scroll up button */
.scrollupbtn{
  margin: 5px; 
  float: right; 
  width: 50px; 
  height: 40px; 
  margin-top: 30px;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}


/* start feedback section */
section #feedback h1{
  font-size: 14px;
  font-weight: bold;
  color: var(--grey);
}
section #feedback h3{
  font-size: 24px;
  font-weight: bold;
  color: var(--dark);
}
#feedback img{
  margin-top: -50px;
}
#feedback i{
  font-size: 26px;
  color: var(--grey);
}
#feedback p{
  font-weight: 500;
}

#feedback .card{
  filter: grayscale(100%);
}

#feedback .card:hover{
  transition: all 0.5s ease-in-out;
  filter: none;
  transform: scale(1.2);
}


#feedback .card{
  border-radius: 0;
  /* height: 400px; */
  box-shadow: 5px 5px 15px var(--green);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#feedback .card:hover{
  background: var(--green);
  color: var(--white);
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px var(--grey);
}
#feedback .card:hover h3, #feedback .card:hover i{
  color: var(--white);
}
/* end feedback section */


/* color for pagination icon */
.page-item.active .page-link {
  background-color: var(--red) !important;
}


/* start services */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.wrapper1{
  display: grid;

  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
@media (max-width: 700px) {
  .wrapper1{
    margin: 200px auto;
  }
}
.wrapper1 .box{
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.wrapper1 .box .front-face{
  background: #fff;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .front-face .icon{
  height: 80px;
}
.box .front-face .icon i{
  font-size: 65px;
}
.box .front-face span,
.box .back-face span{
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .front-face .icon i,
.box .front-face span{
  background: linear-gradient(-135deg, var(--dark), var(--grey));
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.box .back-face{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #24ad7f);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .back-face p{
  margin-top: 10px;
  text-align: justify;
}
.box:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}
.box:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
/* end services */

/* start login i.e. for registration, user login and admin login*/
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

header{
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap :7rem;
  padding: 0 2rem;
}

#register .img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#register .login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

#register .img img{
	width: 500px;
}

#register form{
	width: 360px;
}

#register .login-content img{
    height: 100px;
}

#register .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

#register .login-content .input-div{
	position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

#register .login-content .input-div.one{
	margin-top: 0;
}

#register .i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#register .i i{
	transition: .3s;
}

#register .input-div > div{
    position: relative;
	height: 45px;
}

#register .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

#register .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

#register .input-div:before{
	right: 50%;
}

#register .input-div:after{
	left: 50%;
}

#register .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

#register .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

#register .input-div.focus > .i > i{
	color: #38d39f;
}

#register .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'Quicksand', sans-serif;
}

#register .input-div.pass{
	margin-bottom: 4px;
}

#register a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

#register a:hover{
	color: #38d39f;
}

#register .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
#register .btn:hover{
	background-position: right;
  color: var(--dark);
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
/* end login */

/* start blog */
#blog .card img{
  filter: grayscale(100%);
}

#blog .card img:hover{
  transition: all 0.5s ease-in-out;
  filter: none;
  transform: scale(1.2);
}
/* end blog */

/* Frequently Asked Question */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

#frequentlyAsked .box{
   width: 800px;
   margin: 100px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

#frequentlyAsked .box .heading{
   background: var(--green);
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: 'Quicksand', sans-serif;
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: 'Quicksand', sans-serif;
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}
/* End Frequently Asked Question */